<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <!-- ======================================== BEGIN PROPERTY CONFIGURER ======================================== -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:ecobill/config/hibernate.properties</value>
            </list>
        </property>
    </bean>
    <!-- ========================================= END PROPERTY CONFIGURER ========================================= -->

    <!-- =========================================== BEGIN MESSAGE BUNDLE ========================================== -->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>ecobill/config/bundle/base/gui</value>
                <value>ecobill/config/bundle/base/unit</value>
                <value>ecobill/config/bundle/base/article</value>
            </list>
        </property>
    </bean>
    <!-- ============================================ END MESSAGE BUNDLE =========================================== -->

    <!-- ================================ BEGIN SESSION FACTORY BUILDING DEFINITION ================================ -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="mappingResources">
            <value>${hibernate.mappings}</value>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.connection.driver_class">${hibernate.connection.driver_class}</prop>
                <prop key="hibernate.connection.url">${hibernate.connection.url}</prop>
                <prop key="hibernate.connection.username">${hibernate.connection.username}</prop>
                <prop key="hibernate.connection.password">${hibernate.connection.password}</prop>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.c3p0.min_size">${hibernate.c3p0.min_size}</prop>
                <prop key="hibernate.c3p0.max_size">${hibernate.c3p0.max_size}</prop>
                <prop key="hibernate.c3p0.timeout">${hibernate.c3p0.timeout}</prop>
                <prop key="hibernate.c3p0.max_statements">${hibernate.c3p0.max_statements}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.query.substitutions">${hibernate.query.substitutions}</prop>
                <prop key="hibernate.cglib.use_reflection_optimizer">${hibernate.cglib.use_reflection_optimizer}</prop>
            </props>
        </property>
        <property name="schemaUpdate">
            <value>${hibernate.schemaUpdate}</value>
        </property>
    </bean>
    <!-- ================================= END SESSION FACTORY BUILDING DEFINITION ================================= -->

    <!-- =================================== BEGIN HIBERNATE TEMPLATE DEFINITION =================================== -->
    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
        <property name="sessionFactory">
            <ref local="sessionFactory"/>
        </property>
    </bean>
    <!-- ==================================== END HIBERNATE TEMPLATE DEFINITION ==================================== -->

    <!-- =================================== BEGIN TRANSACTION MANAGER DEFINITION ================================== -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory">
            <ref local="sessionFactory"/>
        </property>
    </bean>
    <!-- ==================================== END TRANSACTION MANAGER DEFINITION =================================== -->

    <!-- ============================================ BEGIN DAO SUPPORT ============================================ -->
    <bean id="baseDao" class="ecobill.module.base.dao.impl.BaseDaoImpl">
        <property name="hibernateTemplate"><ref bean="hibernateTemplate"/></property>
    </bean>
    <!-- ============================================= END DAO SUPPORT ============================================= -->

    <!-- ========================================== BEGIN SERVICE SUPPORT ========================================== -->
    <bean id="baseServiceTarget" class="ecobill.module.base.service.impl.BaseServiceImpl">
        <property name="baseDao"><ref local="baseDao"/></property>
    </bean>

    <bean id="baseService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager"><ref bean="transactionManager"/></property>
        <property name="target"><ref local="baseServiceTarget"/></property>
        <property name="transactionAttributes">
            <props>
                <prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
                <prop key="saveOrUpdate*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>
    <!-- =========================================== END SERVICE SUPPORT =========================================== -->

</beans>